.computos {
background-color: purple;
color: white;
padding: 10px;
}
#encabezado {
 background-color: purple;
 color: white;
 padding: 40px;
 text-align: center;
}
* {margin:0; padding:0; border:0;}
html, body {
width: auto;
height: 100%;
font-family:Verdana, Geneva, sans-serif;
font-weight:bold;
background-color:#f1f1f1;
}
header{
position:relative;
background-color:tomato;
color:#FFF;
width:98%;
height:13%;
margin: 0px auto;
}
section{
position:relative;
float:left;
background-color:#215A93;
width:78%;
height:58%;
color:#FFF;
}
article{
background-color: #2F80D2;
width:98%;
height:58%;
color:#FFF;
}
aside{
position:relative;
background-color:#1E5286;
width:18%;
height:55%;
color:#FFF;
float:left;
}
footer{
position:relative;
background-color:#102B46;
width:98%;
height:5%;
color:#FFF;
clear:both;
}
header,section,footer,aside,article,nav
{
margin:1%;
}
