ul{
list-style-type:none;
}

#all-menu {
width:auto;
height: 68px;
background-color:#0f71ba;
}

#menu li a{
font-family:verdana;
font-size:15px;
float:left;
padding:24px;
background-color:#0f71ba;
color: #fff;
text-decoration:none;
height:18px;
}

#menu li a:hover{
background-color:#f90;
margin-top:-2px;
font-weight:bold;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
