div{ 
	  padding: 30px;
	  background-color: #435671; 
	  border: 1px solid #fff;
	}
div{
	margin: 20px auto;
} 
body{
	background-color: #435671; 
}

ul{
list-style-type:none;
}

----------------------------------------------------------------------------------------

#all-menu {
width:auto;
height: 68px;
background-color:#435671;
}

#menu li a{
font-family:verdana;
font-size:16;
float:left;
padding:18px 65px;
background-color:#12243E;
color: #fff;
text-decoration:none;
height:16px;
}

#menu li a:hover{
background-color:#161C25;
margin-top:2px;
font-weight:bold;
}

.nav li ul {
	display:none;
	position:fixed;
	min-width:140px;
}

h1{
	color: #fff;
}